<div class="container">
<% tab "history" %>
  <%= render 'shared/header' %>
</div>

  <div class="container">
    <h1 align="center">Сторінки нашої історії</h1>

    <h3 align="center">Слово про архітектора</h3>
    <div align="Left">
        <p>&nbsp;&nbsp;&nbsp;Ви відпочиваєте у «Казковій долині», яка побудована за проектом Літинського художника-архітектора Леоніда Яковчука. </p>
        <p>&nbsp;&nbsp;&nbsp;Леонід Мечиславович Яковчук народився 28 серпня 1958 року у селі Ворошилівка Троянівського району Житомирської області. За фахом архітектор. Закінчив Одеський інженерно-технічний інститут. З 1978 по 1996 роки працював головним архітектором Літинського району. У березні 2005 року через тяжку хворобу його не стало. На Літинщині залишилось сім найяскравіших реалізованих архітектурних проектів автором яких є Леонід Яковчук.</p>
        <p>&nbsp;&nbsp;&nbsp;1.Казкова долина с. Сосни</p>
        <p>&nbsp;&nbsp;&nbsp;2.Меморіальний комплекс загиблим воїнам 1941-1945 роки у Літині</p>
        <p>&nbsp;&nbsp;&nbsp;3.Стадіон у Літині</p>
        <p>&nbsp;&nbsp;&nbsp;4.Парк культури та відпочинку у Літині</p>
        <p>&nbsp;&nbsp;&nbsp;5.Церква православних християн у с. Брусленів</p>
        <p>&nbsp;&nbsp;&nbsp;6.Церква адвентистів у Літині</p>
        <p>&nbsp;&nbsp;&nbsp;7.Середня школа у с. Вінниківцях</p>
    </div>
    <div align="center"><br><%= image_tag("ngisptahom.jpg") %>&nbsp;&nbsp;&nbsp;<%= image_tag("ptahusoncia1.jpg") %></div></p>
    <div align="Left">
        <p>&nbsp;&nbsp;&nbsp;Талановита і добра душею людина, яка в усі куточки України і світу направила у політ птахи щастя. Він хотів, щоб вам було тут радісно, щоб ви були щасливі. А сам захворів і залишив нас. Літинчани завжди пам'ятають і згадують його із глибокою вдячністю. Його робота і досі приносить радість людям.</p>
        <p>&nbsp;&nbsp;&nbsp;Ось що про свою творчість говорив сам Леонід Мечиславович: “Спочатку була архітектура. З нею були пов'язані всі плани та надії... і тоді прилетіли вони, птахи з різних казок та легенд виготовлені із дровин, що не стали паливом”.</p>
        <p>&nbsp;&nbsp;&nbsp;Птахи вирізьблені особливим методом із дерева і закріплені на полотні у відповідності із задуманим сюжетом надають картинам казкову незвичайність та рельєфність. Жодна з картин не схожа на іншу. Картини переносять нас у далекий світ, де панують добро і краса.</p>
    </div>

    <div align="center">
        <br><%= image_tag("ptahusoncia2.jpg") %>&nbsp;&nbsp;&nbsp;<%= image_tag("ptahusoncia3.jpg") %>
    </div> 

    <!--&nbsp;&nbsp;&nbsp;Історія сягає сивої давнини, коли були ось такі знамена
    <div align="center"><br><%= image_tag("text.jpg") %>&nbsp;&nbsp;&nbsp;<%= image_tag("znameno.jpg") %></div>-->
</div>
