<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "казкова долина", root_path, id: "logo" %>
    <nav>
      <ul class="nav nav-tabs navbar-right">
        <li><%= link_to 'Шановні батьки', dear_parents_path, class: "nav-link" %></li>
        <li><%= link_to "Будні і свята", breeding_process_path, class: "nav-link" %></li>
        <li><%= link_to 'Із історії', history_path, class: "nav-link" %></li>
        <li><%= link_to 'Контакти', contact_path, class: "nav-link" %></li>
        <li><%= link_to "Фотогалерея", '#', class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>