       <div id="columns">
         <div id="side">
         <%= render 'shared/menu' %>
         </div>
         <div id="main">
<h1 align="center">Будні і свята</h1>
<p>&nbsp;&nbsp;&nbsp;В дитячому оздоровчому закладі виховний процес здійснюється згідно плану виховної роботи табору та загонів. Протягом зміни в першій половині дня в таборі проводяться:</p>
<div align="center"><br><%= image_tag("bantuk.jpg") %>&nbsp;&nbsp;&nbsp;<%= image_tag("malunku.jpg") %></div>
<p>&nbsp;&nbsp;&nbsp;"Співаночки", конкурс емблем загонів та загонових куточків, конкурс фантастичних проектів, конкурс на кращий куточок живої природи "Краю мій лелечий", "Церемонія бантиків", конкурс малюнка, години спілкування "Поспілкуємось разом", працюють гуртки</p>
<p>&nbsp;&nbsp;&nbsp;В другій половині дня проходять загальнодружинні заходи:</p>
<p>&nbsp;&nbsp;&nbsp; - конкурс ділова гра "Лідер табору"</p>
<p>&nbsp;&nbsp;&nbsp; - презентація загонів</p>
<p>&nbsp;&nbsp;&nbsp; - інтелектуальна гра "Подорож в країну Сообразилію-Вообразилію"</p>
<p>&nbsp;&nbsp;&nbsp; - конкурс акторської майстерності</p>
<p>&nbsp;&nbsp;&nbsp; - театр екологічної моди</p>
<div align="center"><br><%= image_tag("moda1.jpg") %>&nbsp;&nbsp;&nbsp;<%= image_tag("moda2.jpg") %></div>
<p>&nbsp;&nbsp;&nbsp; - день самоврядування</p>
<p>&nbsp;&nbsp;&nbsp; - веселі старти</p>
<div align="center"><br><%= image_tag("veselistartu.jpg") %>&nbsp;&nbsp;&nbsp;<%= image_tag("veselistartu2.jpg") %></div>
<p>&nbsp;&nbsp;&nbsp; - конкурс інсценованої казки</p>
<p>&nbsp;&nbsp;&nbsp; - конкурс краси</p>
<p>&nbsp;&nbsp;&nbsp; - веселий ярмарок</p>
<p>&nbsp;&nbsp;&nbsp; - економічний день, аукціон</p>
<p>&nbsp;&nbsp;&nbsp; - військово-спортивна гра "Десант"</p>
<p>&nbsp;&nbsp;&nbsp; - закриття таборної зміни, вогнище, підведення підсумків</p>
         </div>
       </div>